%h1
  Welcome to Krispy Shoppe, #{@user.name}
%p
  You have successfully signed up to krispyshoppe.com,
  %br
%p
  To login to the site, just follow this link: #{@url}.
%p Thanks for joining and have a great day!
